<div id="pagina">
    <div id="contenedor">
        <div id="cabecera">
            <h2>Consultar Especialidades</h2>
        </div> 

        <div>
            <div class="table-responsive">
                <table id="tabla"
                class="table table-striped
                table-hover	
                table-borderless
                table-primary
                align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider"  *ngFor="let item of tarjetasEspecialidades">
                            <tr class="table-primary">
                                <td>{{item.nombre}}</td>
                                <td>{{item.descripcion}}</td>
                            </tr>
                </table>
            </div>
            
        </div>

    </div>
    
    
    <div id="contenedorcito2">
        <input type="button" id="volver" class="btn btn-danger" (click)="volver()" value="Volver a menu principal">
    </div>  
     
</div>