#fondo {
  background-image: url(https://cdn.wallpapersafari.com/76/57/9wALC6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#pie {
  background-color: red;
}

#pie input {
  width: 100%;
}

#contenedorcito2 {
  width: 15vh;
  position: relative;
  top: -35vh;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 113, 113);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#pagina1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor1 {
  width: 80%;
  max-width: 70%;
  height: 70%;
  padding: 30px;
  box-sizing: content-box;
  border: solid black;
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: azure;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.tituloAgenda1 {
  background-color: beige;
  border: black solid;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dias {
  display: inline-flex;
}

#horarios {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.titulo {
  width: 100%;
}

#divGrid1 {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

#divGrid2 {
  display: inline-flex;
}
#divGrid22 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#horario {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(29, 8vh);
}
.diaSemana1 {
  background-color: rgb(179, 245, 245);
  border: black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-rows: repeat(29, 8vh);

  border: solid black;
  flex-wrap: wrap;
}

.hora1 {
  background-color: beige;
  border: black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#celdas {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.agenda1 {
  width: 18vh;
  height: 8vh;
}

/* --------------------- */

#pagina2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.wallpapersafari.com/76/57/9wALC6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#contenedor2 {
  width: 60%;
  max-width: 60%;
  height: 80vh;
  padding: 30px;
  box-sizing: content-box;
  border: solid black;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
}

#grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

#tarjeta_grilla {
  background-color: rgb(224, 232, 78);
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: solid black;
}

/*----------------------------*/
#tarjetaCobro {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_padding1 {
  display: flex;
  padding: 5vh;
  gap: 3vh;
}

#tarjetaCobro_FormaPago {
  border: solid black;
}
#tarjetaCobro_FormaPago h2 {
  text-align: center;
}

#tarjetaCobro_MontoPagar {
  border: solid black;
  padding: 10vh;
  text-align: center;
}

#divMonto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

#contenedor1 {
  background-color: rgb(251, 233, 233);
}
.tituloAgenda1 {
  background-color: rgb(247, 123, 93);
}

.agenda1 {
  font-family: Arial, Helvetica, sans-serif;
}
.diaSemana1 {
  font-weight: bold;
}

.turno {
  background-color: rgb(255, 246, 234);
}

#celdaTurno {
  background-color: rgb(89, 132, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

#volver {
  background-color: rgb(250, 34, 34);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#volverTurnos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.monto {
  cursor: pointer;
}

#cabeceraDeTurno {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#cabeceraDeTurno span {
  cursor: pointer;
}

#mensajeBorrar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  position: absolute;
}

#botBorrar {
  display: flex;
  gap: 20px;
}

#divSelector1 {
  border: solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
}

#divSelector1 i {
  cursor: pointer;
}

.horarioNro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 123, 93);
  border: solid black;
}

.nroSemana {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
