<div id="pagina">
    <div id="contenedor">
        <div class="opcion" id="opcion1" [routerLink]="['/turnos']">
            <div class="cabecera" id="cabecera1">
                Registrar Turno
            </div>
            <div class="cuerpo" id="cuerpo1">
                Realizar el registro del turno al paciente en el sistema
            </div>
        </div>

        <div class="opcion" id="opcion2" [routerLink]="['/agenda']">
            <div class="cabecera" id="cabecera2">
                Revisar Agenda
            </div>
            <div class="cuerpo" id="cuerpo2">
                Visualizar la agenda con los turnos de los especialistas
            </div>
        </div>

        <div class="opcion" id="opcion3">
            <div class="cabecera" id="cabecera3">
                Opcion 3
            </div>
            <div class="cuerpo" id="cuerpo3">
                Descripcion de la opcion 3...
            </div>
        </div>

        <div class="opcion" id="opcion4" [routerLink]="['/registrarCliente']">
            <div class="cabecera" id="cabecera4">
                Registrar Paciente
            </div>
            <div class="cuerpo" id="cuerpo4">
                Realizar el registro del paciente en el sistema
            </div>
        </div>

        <div class="opcion" id="opcion5" [routerLink]="['/registrarEspecialista']">
            <div class="cabecera" id="cabecera5">
                Registrar Especialista
            </div>
            <div class="cuerpo" id="cuerpo5">
                Realizar el registro del especialista en el sistema
            </div>
        </div>

        <div class="opcion" id="opcion6" [routerLink]="['/registrarEspecialidad']">
            <div class="cabecera" id="cabecera6">
                Registrar Especialidad
            </div>
            <div class="cuerpo" id="cuerpo6">
                Realizar el registro de la especialidad en el sistema
            </div>
        </div>
    </div>
</div>