<div id="pagina">
    <div id="contenedor">
        <div class="opcion" id="opcion1" [routerLink]="['/turnos']">
            <div class="cabecera" id="cabecera1">
                Registrar Turno
            </div>
            <div class="cuerpo" id="cuerpo1">
                Realizar el registro del turno a un paciente
            </div>
        </div>

        <div class="opcion" id="opcion2" [routerLink]="['/agenda']">
            <div class="cabecera" id="cabecera2">
                Revisar Agenda
            </div>
            <div class="cuerpo" id="cuerpo2">
                Visualizar la agenda con los turnos de los especialistas
            </div>
        </div>

        <div class="opcion" id="opcion3" [routerLink]="['/registrarHM']">
            <div class="cabecera" id="cabecera3">
                Registrar Historial Medico
            </div>
            <div class="cuerpo" id="cuerpo3">
                Realizar el registro del historial medico de un paciente
            </div>
        </div>

        <div class="opcion" id="opcion4" [routerLink]="['/registrarCliente']">
            <div class="cabecera" id="cabecera4">
                Registrar Paciente
            </div>
            <div class="cuerpo" id="cuerpo4">
                Realizar el registro de un paciente
            </div>
        </div>

        <div class="opcion" id="opcion5" [routerLink]="['/registrarEspecialista']">
            <div class="cabecera" id="cabecera5">
                Registrar Especialista
            </div>
            <div class="cuerpo" id="cuerpo5">
                Realizar el registro de un especialista
            </div>
        </div>

        <div class="opcion" id="opcion6" [routerLink]="['/registrarEspecialidad']">
            <div class="cabecera" id="cabecera6">
                Registrar Especialidad
            </div>
            <div class="cuerpo" id="cuerpo6">
                Realizar el registro de una especialidad
            </div>
        </div>

        <div class="opcion" id="opcion7" [routerLink]="['/cobro']">
            <div class="cabecera" id="cabecera7">
                Consultar cobro
            </div>
            <div class="cuerpo" id="cuerpo7">
                Consultar los cobros realizados
            </div>
        </div>

        <div class="opcion" id="opcion8" [routerLink]="['/consultarHM']">
            <div class="cabecera" id="cabecera8">
                Consultar Historial medico
            </div>
            <div class="cuerpo" id="cuerpo8">
                Consultar los Historiales medicos realizados con anterioridad
            </div>
        </div>

        <div class="opcion" id="opcion9" [routerLink]="['/estadistica']">
            <div class="cabecera" id="cabecera9">
                Consultar Estadistica
            </div>
            <div class="cuerpo" id="cuerpo9">
                Consultar las estadisticas en formato grafico
            </div>
        </div>

        <div class="opcion" id="opcion10" [routerLink]="['/consultarEspecialidades']">
            <div class="cabecera" id="cabecera10">
                Consultar Especialidades
            </div>
            <div class="cuerpo" id="cuerpo10">
                Consultar las especialidades registradas en el sistema
            </div>
        </div>

        <div class="opcion" id="opcion11" [routerLink]="['/consultarEspecialistas']">
            <div class="cabecera" id="cabecera11">
                Consultar Especialistas
            </div>
            <div class="cuerpo" id="cuerpo11">
                Consultar los especialistas registrados en el sistema
            </div>
        </div>


    </div>
</div>